**/.cache/
# if going to ignore .DS_Store files, see
# https://web.archive.org/web/20180326233958/http://augustl.com/blog/2009/global_gitignores/
.DS_Store
JSON/#test2.json#
.DS_Store
JSON/test2.json
sense.index.TESSAROLLO
test.json
test2.json
test2.rdf
test2.wndb/data.adj
test2.wndb/data.adv
test2.wndb/data.noun
test2.wndb/data.verb
test2.wndb/index.adj
test2.wndb/index.adv
test2.wndb/index.noun
test2.wndb/index.sense
test2.wndb/index.verb
test2/data.adj
test2/data.adv
test2/data.noun
test2/data.verb
test2/en/adj.all
test2/en/adj.pert
test2/en/adj.ppl
test2/en/adv.all
test2/en/noun.act
test2/en/noun.animal
test2/en/noun.artifact
test2/en/noun.attribute
test2/en/noun.body
test2/en/noun.cognition
test2/en/noun.communication
test2/en/noun.event
test2/en/noun.feeling
test2/en/noun.food
test2/en/noun.group
test2/en/noun.location
test2/en/noun.motive
test2/en/noun.object
test2/en/noun.person
test2/en/noun.phenomenon
test2/en/noun.plant
test2/en/noun.possession
test2/en/noun.process
test2/en/noun.quantity
test2/en/noun.relation
test2/en/noun.shape
test2/en/noun.state
test2/en/noun.substance
test2/en/noun.time
test2/en/noun.Tops
test2/en/verb.body
test2/en/verb.change
test2/en/verb.cognition
test2/en/verb.communication
test2/en/verb.competition
test2/en/verb.consumption
test2/en/verb.contact
test2/en/verb.creation
test2/en/verb.emotion
test2/en/verb.motion
test2/en/verb.perception
test2/en/verb.possession
test2/en/verb.social
test2/en/verb.stative
test2/en/verb.weather
test2/index.adj
test2/index.adv
test2/index.noun
test2/index.sense
test2/index.verb
.DS_Store
